name: Deploy Tonkeeper Web to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Enable Corepack & Yarn
        run: |
          corepack enable
          corepack prepare yarn@4.0.2 --activate

      - name: Install dependencies
        run: yarn install

      - name: Build Web
        run: yarn build:web

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v6.5.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./apps/web/dist
          destination_branch: gh-pages